{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<section id="portfolio">

    <div class="row section-head">

      <div class="twelve columns">

        <h1>Pneumonia Symptoms and Treatment<span>.</span></h1>

         <hr />  
        <h3>Symptoms</h3>
        <ul style="text-align: left;">
            <li>Fever</li>
            <li>Sweating or chills</li>
            <li>Shortness of breath that happens while doing normal activities or even while resting</li>
            <li>Coughing</li>
            <li>Loss of appetite</li>
            <li>Nausea or vomiting</li>
        </ul>
        
        <br/><br/><br/>

        <h3>Treatment</h3>
        <ul style="text-align: left;">
            <li><em>Fever reducers/pain relievers:</em> You may take these as needed for fever and discomfort. These include drugs such as aspirin, ibuprofen (Advil, Motrin IB, others) and acetaminophen </li>
            <li><b>Antibiotics:</b> These medicines are used to treat bacterial pneumonia. It may take time to identify the type of bacteria causing your pneumonia and to choose the best antibiotic to treat it. If your symptoms don't improve, your doctor may recommend a different antibiotic.</li>
            <li>Drink plenty of fluids to help loosen secretions and bring up phlegm.</li>
            <li>Do not take cough medicines without first talking to your doctor. Coughing is one way your body works to get rid of an infection. If your cough is preventing you from getting the rest you need, ask your doctor about steps you can take to get relief.</li>
            <li>Drink warm beverages, take steamy baths and use a humidifier to help open your airways and ease your breathing. Contact your doctor right away if your breathing gets worse instead of better over time.</li>
            <li>Stay away from smoke to let your lungs heal. This includes smoking, secondhand smoke and wood smoke. Talk to your doctor if you are a smoker and are having trouble staying smokefree while you recover.</li>
        </ul>
      </div>

  </div> <!-- end section-head -->
  
 </section> <!-- end portfolio -->

 {% endblock %}